body {
    color: rgb(184, 118, 118);
    background-image: url('images/bgimg\ \(2\).jpg');
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    color: white;
    text-decoration: none;
}

li{
    list-style: none;
    float: right;
    margin-left: 15px;
}
#plist{
    text-align: center;
}